<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="1" rowHeight="calc(100vh - 150px)">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div>
            <agm-map class="card-map" [latitude]="lat" [longitude]="lng">

              <agm-marker *ngFor="let marker of markers" [latitude]="marker.geoposition.latitude" [longitude]="marker.geoposition.longitude">
                <agm-info-window>
                  <div class="map-info-window">
                    <h2 class="title-marker">{{marker.name}}</h2>
                    <h3 class="mat-h4" color="primary">{{marker.timestamp.toDate() | date:'dd/MM/yyyy hh:mm:ss'}}</h3>
                  </div>
                </agm-info-window>
              </agm-marker>
            </agm-map>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>