.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.info-card-content{
  text-align: left;
}

.card-map {
  height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.map-info-window {
  display: flex;
  flex-direction: column;
  color: black !important;
}


